.the-list {
    list-style: none;
    padding-left: 0;
    width: 250px;
}

.the-list li {
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
}

.the-list li:hover {
    background-color: pink;
}

.the-list li span {
    position: absolute;
    right: 10px;
    font-weight: bold;
}

.the-list li span:hover {
    color: red;
    cursor: pointer;
}