.users-main form input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    width: 165px;
    outline: 0;
}

.users-main form button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #0066ff;
    color: #fff;
    border: 2px solid #0066ff;
    outline: 0;
}

.users-main form button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}