.weatherList {
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px;
}

.weatherList .weatherItem {
	width: 25%;
	border: 1px solid black;
}

@media (max-width: 992px) {
	.weatherList .weatherItem {
		width: 50%;
	}
}

@media (max-width: 576px) {
	.weatherList .weatherItem {
		width: 100%;
	}
}

.searchWeather {
	padding: 0 30px;
}
.searchWeather form {
	border: 1px solid black;
	padding: 50px;
}
