.CryptoList {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.CryptoList ul.TheList {
	margin: 0;
	padding-left: 0;
}

.CryptoList ul.TheList li {
	list-style: none;
	border: 1px solid #ccc;
	margin-top: 1px;
	line-height: 2;
	padding: 5px 20px;
}

.CryptoList ul.TheList li span {
	font-weight: bold;
	padding: 0 5px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}
