.App {
	text-align: center;
}

a {
	color: black;
}

.btn {
	background-color: #1d9bf0;
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 15px;
	color: white;
}

.btn:hover {
	background-color: #00538a;
	cursor: pointer;
}
