@import "utils/variables";
@import "utils/mixins";

@import "base/normalize";
@import "base/global";

@import "layout/services";
@import "layout/grid";
@import "layout/nav";
@import "layout/header";
@import "layout/about";
@import "layout/team";
@import "layout/appointment";
@import "layout/contact";
@import "layout/footer";

@import "components/buttons";
@import "components/infoboxes";
@import "components/inputs";
